*{-webkit-box-sizing:border-box;box-sizing:border-box}body{margin:0;padding:0;font-size:16px}img.full{width:100%}form{padding:1em .5em}form .input-group{padding:.5em}form .input-group label{font-size:1em;color:#999;display:block;line-height:2}.input,form .input-group input                                                                    >

